.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

header[role="banner"] {
  float: left;
  width: 100%;
  background-color: #eee; }
  header[role="banner"] #nav ul {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right; }
    header[role="banner"] #nav ul li {
      text-align: right;
      display: inline-block; }
      header[role="banner"] #nav ul li a {
        display: block;
        text-align: right;
        padding: 20px; }
    header[role="banner"] #nav ul li#logo {
      float: left; }
      header[role="banner"] #nav ul li#logo a {
        text-decoration: none;
        color: #272727; }

.main-content {
  padding: 20px; }
  .main-content article h1 {
    font-size: 3.3em;
    line-height: 1.25;
    font-weight: 500; }
  .main-content article p {
    font-size: 1.3125em; }
